header {
    background-color: bisque;
    background-size: cover;
    height: 70px; /* Állítsd be a kívánt magasságot */
    color: rgb(228, 222, 222);
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    
}
header img {
    height: 100%;
    width: auto;
    padding-left: 25px;
    
}
header a{
    margin-top: 0.30%;
    margin-left: auto;
    margin-right: 10%;
    text-decoration: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 222, 222);
    background: url('bckgrnd.jpg') no-repeat;
    background-size: 100%;

}


.back{
    margin-left: 200px;
    margin-bottom: -0px;
}

div.container {
    width: 80%;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 200px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: flex-start; 
}

.container > div {
    background-color:peru;
    margin: 38px; 
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}



.product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px; 
}




button{
    color: white;
    background-color:peru;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin-top: 10px; 
    
}
button:hover{
    opacity: 50%;
}
button.termekek{
    
}


#cart {
    position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#cart-items {
    list-style: none;
    padding: 0;
}
iframe{
    border-radius: 5px;
    border-color: white;
    margin-top: -550px;
    padding-left: 60px;
}
